<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/#/"><i class="ion-social-angular"></i> Demo Angular Auth</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/#/"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="/#/posts">Blog</a></li>
  </ul>
  <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/login"><i class="fa fa-sign-in"></i> Login</a></li>
    <li><a href="/#/signup">Sign up</a></li>
  </ul>
  <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
    <li><a href="/#/profile"><i class="fa fa-gear"></i> Profile</a></li>

  </ul>
</div>
